
{% include "header_2.html" %}
<script>
    function printContent(el){
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
    <section class="content-block content-2-3 bg-transparent black">
        <div class="container">
            <div class="col-sm-7 pull-left text-muted">
                <h2 class="text-muted black">Patient Record</h2>
                <!--
                <button type="button" class="btn btn-dark" onclick = "printContent('divtoprint')">
                    <i class="fa fa-print" style="font-size:20px"></i>
                </button>
                -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#printmodal">
                    <i class="fa fa-print" style="font-size:20px"></i>
                </button>
                <span class="label black" value=" SORT - BY:">&nbsp; &nbsp; SORT - BY:</span>
                <span class="label label-default"></span>
                <button type="button" class="btn btn-dark" onclick="window.location.href='/patient_sort_atoz'">A-Z</button>
                <button type="button" class="btn btn-dark" onclick="window.location.href='/patient_sort_date'">date</button>
            </div>
            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <form action="{{ url_for('patient_search') }}" method="POST">
                        <span class="input-group-btn ">
                            <input type="text" class="form-control" name = "search" placeholder="search">
                            <button class="btn btn-dark" type="submit" type="button"><i class="fa fa-search" style="font-size:16px"></i></button>
                        </span>
                    </form>
                </div>
                <!-- /.input-group -->
            </div>
            <button type="button" data-toggle="modal" data-target="#mymodal" class="btn text-center pull-right btn-success" >Add Patient Data</button>
        </div>
    </section>




    <div class="container">
        <div class="row">
            <div class="col md-12">

                {%with messages = get_flashed_messages()%}
                    {%if messages%}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <table class="table table-striped">
                    <tr>
                        <th>id</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>

                        <th>Birthday</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>CS</th>
                        <th>PHIC</th>
                        <th>Address</th>
                        <th>Chief Complaints</th>
                        <th>Impression</th>
                        <th>Management</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>BP</th>
                        <th>T</th>
                        <th>PR</th>
                        <th>RR</th>
                        <th>Patient Date</th>
                        <th>Action</th>
                    </tr>
                    {% for row in patient %}
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.4 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>

                            <td>{{ row.18 }}</td>
                            <td>{{ row.5 }}</td>
                            <td>{{ row.6 }}</td>
                            <td>{{ row.7 }}</td>
                            <td>{{ row.8 }}</td>
                            <td>{{ row.9 }}</td>
                            <td>{{ row.10 }}</td>
                            <td>{{ row.19 }}</td>
                            <td>{{ row.20 }}</td>
                            <td>{{ row.11 }}</td>
                            <td>{{ row.12 }}</td>
                            <td>{{ row.13 }}</td>
                            <td>{{ row.14 }}</td>
                            <td>{{ row.15 }}</td>
                            <td>{{ row.16 }}</td>
                            <td>{{ row.17 }}</td>
                            <td>
                                <a href="/patient_update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">edit </a>
                                <a href="/nurse_records/{{ row.0 }}" class="btn btn-info btn-xs" onclick="return confirm('Go to the individual Records?')">add </a>
                            </td>
                        </tr>

                        <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Update Patient Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('patient_update') }}" method="POST">
                                            <div class="form-group">
                                                <input type="hidden"  name="id" value="{{row.0}}">
                                            </div>
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input type="text" class="form-control" value = "{{ row.2 }}" name="first_name" required="1">
                                            </div>
                                            <div class="form-group">
                                                <label>Middle Name:</label>
                                                <input type="text" class="form-control" value = "{{ row.3 }}" name="middle_name" >
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input type="text" class="form-control" value = "{{ row.4  }}" name="last_name" required="1">
                                            </div>
                                            <div class="form-group">
                                                <label>Birthday:</label>
                                                <input type="date" class="form-control" name="birthday" value = "{{ row.18}}" >
                                            </div>
                                            <div class="form-group">
                                                <label>Age:</label>
                                                <input type="number" class="form-control" name="age" value = "{{ row.5 }}" required="1">
                                            </div>
                                            <div class="form-group">
                                                <label>Sex:</label>
                                                <select class="form-control" name="sex">
                                                    <option value="male" >Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>CS:</label>
                                                <input type="text" class="form-control" value="{{ row.7 }}" name="cs" >

                                            </div>
                                            <div class="form-group">
                                                <label>PHIC:</label>
                                                <input type="text" class="form-control" value = "{{ row.8 }}" name="phic" >
                                            </div>
                                            <div class="form-group">
                                                <label>Address:</label>
                                                <input type="text" class="form-control" value = "{{ row.9 }}" name="address" required="1">
                                            </div>
                                            <div class="form-group">
                                                <label>Chief Complaints:</label>
                                                <input type="text" class="form-control" value = "{{ row.10 }}" name="chief_complaints" >
                                            </div>
                                            <div class="form-group">
                                                <label>Weight (kg):</label>
                                                <input type="number" class="form-control" value = "{{ row.11 }}" name="weight" >
                                            </div>
                                            <div class="form-group">
                                                <label>Hieght (cm):</label>
                                                <input type="number" class="form-control" value = "{{ row.12 }}" name="height" >
                                            </div>
                                            <div class="form-group">
                                                <label>BP:</label>
                                                <input type="text" class="form-control" value = "{{ row.13 }}" name="bp" >
                                            </div>
                                            <div class="form-group">
                                                <label>T:</label>
                                                <input type="text" class="form-control" value = "{{ row.14 }}" name="tt" >
                                            </div>
                                            <div class="form-group">
                                                <label>PR:</label>
                                                <input type="text" class="form-control" value = "{{ row.15 }}" name="pr" >
                                            </div>
                                            <div class="form-group">
                                                <label>RR:</label>
                                                <input type="text" class="form-control" value = "{{ row.16 }}" name="rr" >
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Update Data</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor  %}
                    </tbody>
                </table>
            </div>

            <!-- Insert Modal ---------------------------------------------------------------------------------------->
            <div id = "printmodal" class = "modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class = "modal-header">
                            <button type="button" class ="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Patient Information</h4>
                        </div>

                        <div class = "modal-body">
                            <form action="{{ url_for('patient_print') }}" method="POST">
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label>Enter Date:</label>
                                    <input type="date" class="form-control"  name="date_now" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Generate Reports</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Insert Modal ---------------------------------------------------------------------------------------->
            <div id = "mymodal" class = "modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class = "modal-header">
                            <button type="button" class ="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Patient Information</h4>
                        </div>

                        <div class = "modal-body">
                            <form action="{{ url_for('patient_insert') }}" method="POST">
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control"  name="first_name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Middle Name:</label>
                                    <input type="text" class="form-control" name="middle_name" >
                                </div>
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control"  name="last_name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Birthday:</label>
                                    <input type="date" class="form-control" name="birthday"  >
                                </div>
                                <div class="form-group">
                                    <label>Age:</label>
                                    <input type="number" class="form-control" name="age"  required="1">
                                </div>
                                <div class="form-group">
                                    <label>Sex:</label>
                                    <select class="form-control" name="sex">
                                        <option value="male" >Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>CS:</label>
                                    <input type="text" class="form-control" name="cs" >

                                </div>
                                <div class="form-group">
                                    <label>PHIC:</label>
                                    <input type="text" class="form-control"  name="phic" >
                                </div>
                                <div class="form-group">
                                    <label>Address:</label>
                                    <input type="text" class="form-control"  name="address" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Chief Complaints:</label>
                                    <input type="text" class="form-control"  name="chief_complaints" >
                                </div>
                                <div class="form-group">
                                    <label>Weight (kg):</label>
                                    <input type="number" class="form-control"  name="weight" >
                                </div>
                                <div class="form-group">
                                    <label>Hieght (cm):</label>
                                    <input type="number" class="form-control" name="height" >
                                </div>
                                <div class="form-group">
                                    <label>BP:</label>
                                    <input type="text" class="form-control"  name="bp" >
                                </div>
                                <div class="form-group">
                                    <label>T:</label>
                                    <input type="text" class="form-control"  name="tt" >
                                </div>
                                <div class="form-group">
                                    <label>PR:</label>
                                    <input type="text" class="form-control"  name="pr" >
                                </div>
                                <div class="form-group">
                                    <label>RR:</label>
                                    <input type="text" class="form-control"  name="rr" >
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Insert Data</button>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% include "footer_2.html" %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
